/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body,html,div{
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

body{
  color: #fff;
}

a{
  text-decoration: none;
  color: #293f50;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
input{
  background: transparent;
}
label{
  display: block;
  margin-top: 30px;
  color: #293f50;
  cursor: pointer;
  font-weight: 400;
}
input,
select,
textarea {
  border: 1px solid #c6c9cc;
  border-radius: 5px;
  cursor: pointer;
  color: #888;
  padding: 5px 8px;
}
.body-wrapper{
  height: 100%;
  width: 100%;
}
.flex-container{
  display: flex;
  flex-direction: row;
}
/*
================
Home Page
================
*/
.home-container{
  background: radial-gradient(#648880, #293f50);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Navigation container and wrapper*/
.nav-container{
  display: flex;
  width: 100%;
  height: 70px;
  background-color:  #293f50;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nav-wrapper{

}
/*Navigation Buttons*/
.home{
  align-content: center;
  /*margin-right: auto;*/
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
}
/*
===========================
form
===========================
*/
.form-container,
.resultant-wrapper{
  box-sizing: border-box;
  border: 2px solid #E2E2E2;
  overflow: scroll;
  height: 100%;
  background-color: rgb(252, 226 , 210);
  color: #000;
}
.form-wrapper{
  background-color: rgb(255, 255, 255);
  color: #293f50;
  width: 500px;
  margin: 30px auto;
  border-radius: 15px;
}
.task-area{
  color: #000000;
  height: 100px;
}
/*Select options*/
.existing-classes,
.existing-courses{
  background-color: transparent;
  height: 30px;
  color: ##808080;
  border-radius: 5px;
}

/*Submit Button*/
.submit-btn{
  width: 150px;
  height: 35px;
  background-color: #293f50;
  color: #fff;
  margin: 0 auto;
  border: 0;
  padding: 11px 30px;
  font-size: 14px;
}

.submit-btn:hover {
  background: #77a198;
}


/*Labels*/
.search-options{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  background-color: #fff;
  border: 1px solid #808080;
}
.search-area,
.more-search{
  color: #0F2346;
  padding-bottom: 20px;
}
.more-search{
  border-left: 1px solid #808080;
}
.searching-label{
  display: inline-block;
  margin: 0;
  width: 27%;
}
.option-label{
  display: inline;
  margin:0;
}
/*
======================
Resultant Search
======================
*/
.search-area{
  padding: 0 15px;
  padding-top: 25px;
}
.other-options{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.searching-elements{
  width: 350px;
  height: auto;
  margin: 20px auto;
  color: #0F2346;
  background-color: #fff;
}
.search-text{
  height: 30px;
  font-size: 18px;
}
/*
======================
Searched table
*/
.searched-data{
  padding: 15px;
  margin-top: 30px;
  color: #0F2346;
}

.resultant-table{
  border-collapse: collapse;
  width: 800px;
  margin: 0 auto;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  color: #4a4a4d;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
th,
td {
  padding: 10px 15px;
  vertical-align: middle;
}
td{
  text-align: center;
}
thead {
  background: #395870;
  color: #fff;
}
th:first-child {
  text-align: left;
}
tbody tr:nth-child(even) {
  background: #f0f0f2;
}
td {
  border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
}
td:first-child {
  border-left: 1px solid #cecfd5;
}
/*
=================
Modular Classes
=================
*/
.btn{
  width: auto;
  height: 30px;
  padding: 10px 30px;
  color: rgb(46, 64, 83);
  background-color: rgb(255, 255, 255);
  text-align: center;
}
.hidden{
  display: none;
}
.color{
  color: #fff;
}
.col2-3{
  width: 67%;
}
.col1-3{
  width: 33%;
}
.col-half{
  width: 50%;
}
.col1-3,
.col2-3{
  display: inline-block;
  vertical-align: top;
}

.box{
  border-color: #E2E2E2;
  border-radius: 5px;
}
.box-size{
  width: 200px;
}
.center{
  text-align: center;
}
.very-large{
  font-size: 40px;
}



/*
  ========================================
  Clearfix
  ========================================
*/
.clearfix {
  clear: both;
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
